<head>
    <title >PSI KELLY CAMPOS</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/public/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="/public/assets/css/noscript.css" /></noscript>
</head>
<header id="header" style="text-align: center;">
</br></br>
    <span class="logo" style="text-decoration:none"><img src="<%= timeline[0].imagem %>" width="180px" style="border-radius: 300px; text-decoration: none;">
    </br>
        <h1 style="color:rgb(83, 79, 79); text-decoration:none"><%= timeline[0].titulo %></h1></br></br>
        <h2 style="color:rgb(83, 79, 79)"> Confira nossos artigos sobre Psicanálise e entre em contato para agendar sua consulta!</h2></br>

</header>