<html>
<%- include('partials/header-adm.html') %>

<title>Painel do ADM</title>
<style>
    *{
        margin: 0;
        padding: 0;
    }
    .quadro{
        background-color: rgba(245, 159, 159, 0.904);
        text-align: center;
        border: 1px black solid;
        margin: 10px;
        border-radius: 10px;
        padding: 10px;
    }

</style>

<body>
    <div class="quadro">

        <div class="header-painel">
            <h2 style="color: black;">CADASTRO DE ARTIGOS</h2></br>
        
        </div>
    <form enctype="multipart/form-data" method="post" action="/admin/cadastro">
        <h3 style="color: black;">Título:</h3>
        <input style="color: black; padding: 10px 0; max-height: 100%;max-width: 100%; background-color: white; border: 2px black solid; margin:10px"type="text" name="titulo" placeholder="Título do artigo"></br>
        <h3 style="color: black;">Imagem:</h3>
        <div class='file'>
            <input  style="color: black;" type="file" name="arquivo">
        </div></br>
        <h3 style="color: black;">Resumo:</h3>
        <input style="color: black; padding: 10px 0; max-height: 100%;max-width: 100%; background-color: white; border: 2px black solid; margin:10px"type="text" name="resumo" placeholder="Resumo do artigo"></br>
        <h3 style="color: black;">Conteúdo:</h3>
        <input style="color: black; padding: 10px 0; max-height: 100%;max-width: 100%; background-color: white; border: 2px black solid; margin:10px" class="descricao" type="text" name="descricao" placeholder="Conteúdo"></br>
        <input style="margin: 10px 0; color: black;"class="cadastrar" type="submit" name="acao" value="Cadastrar">
    </form>
</div>
</br></br></br>

    <div class="quadro">
        <div class="header-painel">      
        </div>

        <div class="lista" style="text-align:center">
            <h1 style="color: black; text-align: center;">LISTA DE ARTIGOS</h2>

            <% for(let i =0; i < timeline.length; i++) { %>
                <div  style="border: 1px black solid; margin: 150px 10px; border-radius: 10px;" class="lista-artigos">
                    <img src="<%= timeline[i].imagem %>" style="max-width:100%; border-radius: 10px;" max-width="100%" style="border-radius:10px; margin: 10px 0"></br></br>
                    <h4 style="color: black;">Título:</h4>
                    <h4 style="color: black;"><%= timeline[i].titulo %> </h3></br></br>
                        <h4 style="color: black;">Resumo:</h4>
                    <p style="color: black;"><%= timeline[i].resumo %></p></br></br>
                    <h4 style="color: black;">Conteudo:</h4>
                    <p style="color: black;"><%= timeline[i].descricao %></p>
                    </br></br>
                    <div class="editarartigos" style="border: 2px black solid; margin: 10px; border-radius: 10px;">
                        <h1 style="color: black;" >EDITAR</h1>
                        <form  class='editar' enctype="multipart/form-data" method="post" action="/admin/editar/<%= timeline[i].id %>">
                            <h4 style="color: black; background-color: white; border: 2px black solid; margin:10px">Título:</h4>
                            <input style="color: black; padding: 10px 0; max-height: 100%;max-width: 100%; background-color: white; border: 2px black solid; margin:10px" type="text" name="tituloeditado" placeholder="<%= timeline[i].titulo %>"  value="<%= timeline[i].titulo %>">
            
                            <h4 style="color: black;">Resumo:</h4>
                            <input style="color: black; padding: 10px 0; max-height: 100%;max-width: 100%; background-color: white; border: 2px black solid; margin:10px"type="text" name="resumoeditado" placeholder="<%= timeline[i].resumo %>" value="<%= timeline[i].resumo %>">
                            <h4 style="color: black;" >Conteúdo:</h4>
                            <textarea style="color: black; padding: 10px 0; max-height: 100%;max-width: 100%; background-color: white; border: 2px black solid; margin:10px" contenteditable="true" class="descricaoeditada" type="text" name="descricaoeditada" value="<%= timeline[i].descricao %>"><%= timeline[i].descricao %></textarea>

                            <input style="color: black;" class="cadastrar" type="submit" name="Editar" value="Editar">
                    </div>
                    </form>

                    <a href="/admin/deletar/<%= timeline[i].id %>" style="color: black;"> EXCLUIR</a></br></br>

                </br>
                </div>
                <% } %>
        </div>
    </div>
</body>

<%- include('partials/footer.html') %>
</html>