<%- include('partials/header-adm.html') %>
<style>
    *{
        margin: 0;
        padding: 0;
    }
    form{
        padding: 10px;
        display: grid;
        text-align: center;
    }
    form > input{
        margin: 10px;
        text-align: center;
        font-size: 25px;
        border-radius: 10px;
        border: 2px black solid;
        display: grid;
        padding: 5px;
        font-weight: 20;
        margin-bottom:  50px; ;
    }
    .login{
        text-align: center;
        padding: 40px;
        margin: 50 200px;
        border: 1px black solid;
        border-radius: 10px;
    }
    h1{
        margin: 50px 0;
        text-align: center;
    }
    .btn-login{
        background-color: lightgreen;
        font-weight: 700;
        font-size: 20px;
        padding: 20px 0;
        border-radius: 10px;
    }

</style>

<h1 style="color:rgb(83, 79, 79); text-decoration:none">Bem-Vinda a sua área administrativa</h1></br>

<body>

    <div class="login">

        <form method="post">
            <h2 style="color:black">LOGIN:</h2>
            <input type="text" name="login" />
        </br>
        <h2 style="color:black">SENHA:</h2>

            <input type="password" name="senha" />
            <input style="color:black" class='btn-login' type="submit" name="acao" value="ENTRAR" />

        </form>
    </div>
</body>
<%- include('partials/footer.html') %>
