<html>
<%- include('partials/header-adm.html') %>
<h1 style="text-align:center; color:rgb(83, 79, 79); text-decoration:none">Erro ao entrar na sua área administrativa</h1></br>


<div class="erro" style="text-align:center; background-color: red; padding: 50px; border: 5px white solid; margin: 40px;border-radius: 10px;">

    <h1 style="border-radius:10px; color:black; text-align:center; font-weight: 800; font-size: 50px;padding:50px; border: 2px white solid;">Erro nas credenciais</h1>
    <a href="/admin/login" class="button"  style=" color:black;font-size: 20px; font-weight: 800;text-align:center">TENTAR NOVAMENTE</a>

</div>

<%- include('partials/footer.html') %>
</html>