<html>
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link href="/public/style.css" rel="stylesheet" />    </head>
    <body>
        <header>
            <div class="center">
                <div class="logo">
                    <h2 style="color:white"><span style="font-weight: lighter; font-size: 55px;color:white"><i><b>P</b>sic-Kelly</i></span><b></b></h2>
                </div>
               
            </div>
        </header>

        <section class="noticia-destaque">

            <div class="center">
                <div class="img-destaque">
                    <div class="overlay-destaque"></div>
                    <div class="title-destaque-descricao">
                        <h2><%= timeline[0].titulo %> </h2>
                        <p><%= timeline[0].descricao %></p>
                    </div>
                    <img src="<%= timeline[0].imagem %>" width="200px">
                </div>
            </div>
        </section>

        <section class="outras-noticias">
            <div class="title-outras-noticias">
                <h2> ARTIGOS</h2>
                <div class="center">
         
    
                    
                </br></br></br>
                    <div  class="mais-lidas">
                        <h3>SOBRE MIM</h3>
                        <% for(let i =1; i < 3; i++) { %>

                        <div class="box-ultima-single">
                            <img src="<%= timeline[i].imagem %>" width="200px">
                            <h4><%= timeline[i].titulo %> </h3>
                            <p><%= timeline[i].descricao %></p>
                        </div>
                        <% } %>
                    </div>
                    <div  class="mais-lidas">
                        <h3>PSICANÁLISE</h3>
                        <% for(let i =3; i < 5; i++) { %>

                        <div class="box-ultima-single">
                            <img src="<%= timeline[i].imagem %>" width="200px">
                            <h4><%= timeline[i].titulo %> </h3>
                            <p><%= timeline[i].descricao %></p>
                        </div>
                        <% } %>
                    </div>
                    <div  class="mais-lidas">
                        <h3>RECOMENDADOS</h3>
                        <% for(let i =5; i < 7; i++) { %>

                        <div class="box-ultima-single">
                            <img src="<%= timeline[i].imagem %>" width="200px">
                            <h4><%= timeline[i].titulo %> </h3>
                            <p><%= timeline[i].descricao %></p>
                        </div>
                        <% } %>
                    </div>
                </div>

            </div>
        </section>

    </body>
</html>