


<!DOCTYPE HTML>
<html>
	<head>
		<title>PSI KELLY CAMPOS</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/public/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/public/assets/css/noscript.css" /></noscript>
	</head>
	<header id="header" style="text-align: center;">
	</br></br>
		<span class="logo"><a href="/" style="text-decoration:none"><img src="<%= timeline[0].imagem %>" width="150px" style="border-radius: 300px; text-decoration: none;"> </a>
		</br>
			<h1 style="color:rgb(83, 79, 79)"><%= timeline[0].titulo %></h1></br>
			<h2 style="color:rgb(83, 79, 79)"> Confira nossos artigos sobre Psicanálise e entre em contato para agendar sua consulta!</h2>

	</header>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
	

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="#intro" class="active">Desenvolvedor</a></li>

							<li><a href="#cta">Contato</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
                        <section id="cta" class="main special">
                            <header class="major">
                                <h2>ATENDIMENTO</h2>
                                <p>ATENDIMENTO COM HORÁRIO MARCADO, ENTRE EM CONTATO PARA AGENDAR</p>
                            </header>
                            <footer class="major">
                                <ul class="actions special">
                                    <li><a href="https://api.whatsapp.com/send?phone=5542999194621" class="button primary">WhatsApp</a></li>
                                </ul>
                            </footer>
                        </section>

	

						<!-- First Section -->


							<section id="first" class="main special">

                                <% for(let i =0; i < timeline.length; i++) { %>
                                    <% if(titulo == timeline[i].titulo) { %>
                                        <div class="sobre-kelly" style="border: 1px rgb(161, 161, 161) solid;  margin: 30px; border-radius: 50px;">

                                                            <h1 style="text-align: center;font-weight: 800; font-size: 70px; padding: 10px;"><%= timeline[i].titulo %></h1>



                                                    <header class="major">
                                                    </header>
                                                    <ul class="features">
                                     

                                                    </ul>
                                                    <span class="image"><img src="<%= timeline[i].imagem %>" style="max-width:100%">
                                                        <p><%= timeline[i].descricao %></p>
                                        
                                                        <% } %>
                                                        <% } %>
                                        

							</section>
							<section id="intro" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2><%= timeline[1].titulo %></h2>
										</header>
										<p><%= timeline[1].resumo %></p>
										<ul class="actions">
											<li><a href="/<%= timeline[1].titulo %>" class="button">Saiba mais</a></li>
										</ul>
									</div>
									<span class="image"><img src="<%= timeline[1].imagem %>" width="200px">
									</span>
								</div>
							</section>

						<!-- Get Started -->

					</div>

				<!-- Footer -->
					<footer id="footer">
						<section>
							<h2>Psicanálista Kelly Campos</h2>
							<p><%= timeline[0].resumo %></p>

					
							<ul class="actions">
								<li><a href="/" class="button">Inicio</a></li>
							</ul>
						</section>
						<section>
							<h2>Contato</h2>
							<dl class="alt">
								<dt>Endereço</dt>
								<dd>Rua Cupuaçu, 124 - Ponta Grossa</dd>
								<dt>Telefone</dt>
								<dd>(42) 99166-8799</dd>
								<dt>Email</dt>
								<dd><a href="#">wdryglati@gmail.com</a></dd>
							</dl>
							<ul class="icons">
								<li><a href="https://www.facebook.com/willian.drygla/" class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>
								<li><a href="https://www.instagram.com/wll_drygla/" class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></li>
								<li><a href="https://github.com/wllDrygla" class="icon brands fa-github alt"><span class="label">GitHub</span></a></li>
							</ul>
						</section>
						<p class="copyright">&copy;<a href="/">DESENVOLVIDO POR WiLL DRYGLA</a>.</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>