<%- include('partials/header.html') %>

	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
	

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="#intro" class="active">Desenvolvedor</a></li>

							<li><a href="#cta">Contato</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
                        <section id="cta" class="main special">
                            <header class="major">
                                <h2>ATENDIMENTO</h2>
                                <p>ATENDIMENTO COM HORÁRIO MARCADO, ENTRE EM CONTATO PARA AGENDAR</p>
                            </header>
                            <footer class="major">
                                <ul class="actions special">
									<li><a href="https://api.whatsapp.com/send?phone=5542988303970&text=Ol%C3%A1,%20acessei%20seu%20site%20e%20gostaria%20de%20agendar%20uma%20consulta!" class="button primary">WhatsApp</a></li>
                                </ul>
                            </footer>
                        </section>

	

						<!-- First Section -->


							<section id="first" class="main special">

                                <% for(let i =0; i < timeline.length; i++) { %>
                                    <% if(titulo == timeline[i].titulo) { %>
                                        <div class="sobre-kelly" style="border: 1px rgb(161, 161, 161) solid;  margin: 30px; border-radius: 50px;">

                                                            <h1 style="text-align: center;font-weight: 800; font-size: 70px; padding: 10px;"><%= timeline[i].titulo %></h1>



                                                    <header class="major">
                                                    </header>
                                                    <ul class="features">
                                     

                                                    </ul>
                                                    <span class="image"><img src="<%= timeline[i].imagem %>" style="max-width:100%">
                                                        <p><%- timeline[i].descricao %></p>
                                        
                                                        <% } %>
                                                        <% } %>
                                        

							</section>
							<section id="intro" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2><%= timeline[1].titulo %></h2>
										</header>
										<p><%= timeline[1].resumo %></p>
										<ul class="actions">
											<li><a href="/<%= timeline[1].titulo %>" class="button">Saiba mais</a></li>
										</ul>
									</div>
									<span class="image"><img src="<%= timeline[1].imagem %>" width="200px">
									</span>
								</div>
							</section>

						<!-- Get Started -->

					</div>

				<!-- Footer -->
				<%- include('partials/footer.html') %>


			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>