*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

}
header{
    padding: 8px 0;
    padding-top: 50px;
    color: black;
    background-image: linear-gradient(to right, #95f29d, #93eea8, #94eab2, #97e6bb, #9de1c1, #abddb9, #b6d8b4, #bfd4b1, #d1cea8, #e1c6a8, #eac0af, #ecbcbc);
    border-bottom-style: solid ;
    border-bottom-color: black;

}
header .logo{
    font-size: 30px;
    color: black;
}

.center{
    max-width: 1800px;
    margin:0 auto;
    padding:0 2%;
    display: flex;
}
.logo{
    width: 50%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }
section.noticia-destaque{
    padding: 40px 0;

}
footer{
    margin: 0;
    background-image: linear-gradient(to right, #95f29d, #93eea8, #94eab2, #97e6bb, #9de1c1, #abddb9, #b6d8b4, #bfd4b1, #d1cea8, #e1c6a8, #eac0af, #ecbcbc);
    text-align: right;
    color: black;
    padding: 50px 50;
    border-top-style: solid ;
    border-top-color: black;
    font-size: 30px;

}
section.noticia-destaque > .center{
    max-width: 760px;
}
.img-destaque{
    width: 100%;
    position: relative;

}
.img-destaque img{
    width: 100%;
    border-radius: 10px;
}
.title-destaque-descricao{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: white;
    z-index: 2;

}
.overlay-destaque{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    border-radius: 10px;

    background-color: rgba(0,0,0,0.3);
}
section.outras-noticias{
    background-color: #EAEAEA;
    padding: 30px 0;
    text-align: center;
}
section.outras-noticias  h2{
    font-size: 50px;
}

.ultimas{
    width: 0;
    height: 0;
    display: hide;
    font-size: 150%;
    display:table;
    align-items:center;
    float: center;

}

.mais-lidas{
    width: 40%;
    margin: 4%;
    display: inline;
}
.mais-lidas  > h3{
    background-image: linear-gradient(to right, #95f29d, #93eea8, #94eab2, #97e6bb, #9de1c1, #abddb9, #b6d8b4, #bfd4b1, #d1cea8, #e1c6a8, #eac0af, #ecbcbc);
    color: black;
    text-align: center;
    padding: 10px 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.mais-lidas  img{
    width: 100%;
    text-align: center;
}
.box-ultima-single{
    border-color: black ;
    border-style:groove;
    border-width: 0.1em;
    margin: 1%;
    margin-left: 0%;
    text-align: center;
    display: inline-block;
    width: 45%;
    border-radius: 5px;
    
}
.box-ultima-single h1,p{
    padding-left: 15%;
    padding-right: 15%;
}

.ultimas img{
    width: 100%;
}
.mais-lidas > h1{
    font-size: 8px;
}
.mais-lidas > .box-ultima-single{
    width: 100%;
}
.noticia-single{
    width: 120%;
    margin: 2%;
    font-size: 150%;

}
.logo{
    color:black;
    font-weight: lighter;
    font-style: italic;
    font-size: 85px;
    text-decoration: none;



}
.logo > a{
    text-decoration: none;
    color: black;
}
.contato{
    text-align: center;
    border: 2px black solid;
    border-radius: 50px;
    margin: 50 300px;
    padding: 30px 0;
    font-size: 75%;

}

@media (max-width : 1000px) {
    .contato{
        margin: 30 150;
    }


}
